<div class="container my-5">
  <mat-card>
    <h1
      class="text-center mat-subheading-1"
      style="font-size: 30px; color: #f93154"
    >
      Welcome
    </h1>
    <form [formGroup]="forgotForm" (ngSubmit)="onForgotSubmit()">
      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="basic-addon1"
          ><i class="fa fa-envelope" style="font-size: 24px; color: #f93154"></i
        ></span>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email..."
          formControlName="email"
        />
      </div>
      <div class="text-center">
        <button [disabled]="!forgotForm.valid" mat-raised-button color="accent">
          Submit
        </button>
      </div>
    </form>
    <a class="text-primary" routerLink="/auth/login">Back to login.</a>
  </mat-card>
</div>
