<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> <strong> ID.</strong> </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> <strong> Name</strong> </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="rool">
    <th mat-header-cell *matHeaderCellDef><strong> Roll</strong> </th>
    <td mat-cell *matCellDef="let element"> {{element.rool}} </td>
  </ng-container>

  <ng-container matColumnDef="mobile">
    <th mat-header-cell *matHeaderCellDef><strong> Mobile</strong> </th>
    <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
  </ng-container>

  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef><strong> Email</strong> </th>
    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef><strong> Status</strong> </th>
    <td mat-cell *matCellDef="let element;let i = index;">
      <mat-slide-toggle (change)="onChangeEnableDisable($event,element,i)"
        [checked]="element.status"></mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef><strong> Delete</strong> </th>
    <td mat-cell *matCellDef="let element;let i = index"> <i class="fa fa-trash" (click)="deleteUserData(element,i)"
        style="font-size:24px;color: red;cursor: pointer;" aria-hidden="true"></i>
    </td>
  </ng-container>

  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef><strong> Edit</strong> </th>
    <td mat-cell *matCellDef="let element"><i class="fa fa-pencil-square-o" (click)="editUserData(element)"
        style="font-size:24px;color: blue;cursor:pointer;"></i>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
