<div class="container my-2">
  <mat-card>
    <h1
      class="text-center mat-subheading-1"
      style="font-size: 30px; color: #f93154"
    >
      Welcome
    </h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmitSignup()">
      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="basic-addon1"
          ><i class="material-icons" style="font-size: 25px; color: #f93154"
            >perm_contact_calendar</i
          >
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Firstname..."
          formControlName="firstname"
        />
      </div>
      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="basic-addon1"
          ><i class="material-icons" style="font-size: 25px; color: #f93154"
            >perm_contact_calendar</i
          >
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Lastname..."
          formControlName="lastname"
        />
      </div>
      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="basic-addon1"
          ><i
            class="fas fa-phone-square-alt"
            style="font-size: 24px; color: #f93154"
          ></i>
        </span>
        <input
          type="text"
          class="form-control"
          placeholder="Enter Phone Number..."
          formControlName="phone"
        />
      </div>
      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="basic-addon1"
          ><i class="fa fa-envelope" style="font-size: 24px; color: #f93154"></i
        ></span>
        <input
          type="email"
          class="form-control"
          placeholder="Enter email..."
          formControlName="email"
        />
      </div>
      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="basic-addon1"
          ><i class="fa fa-lock" style="font-size: 24px; color: #f93154"></i
        ></span>
        <input
          type="password"
          class="form-control"
          placeholder="Password..."
          formControlName="password"
        />
      </div>
      <div class="input-group mb-3 form-group">
        <span class="input-group-text" id="basic-addon1"
          ><i class="fa fa-lock" style="font-size: 24px; color: #f93154"></i
        ></span>
        <input
          type="password"
          class="form-control"
          placeholder="Confirm Password..."
          formControlName="confirmPassword"
        />
      </div>
      <div class="text-center">
        <button [disabled]="!signupForm.valid" mat-raised-button color="accent">
          Login
        </button>
      </div>
    </form>
    <a class="text-primary" routerLink="/auth/forgot-password">forgot password?</a>
    <div class="text-center">
      <img src="../../../../assets/images/google.png" (click)="onClickGoogle()" style="width: 60px;height:60px;cursor: pointer;margin-right: 5px;" alt="image not found">
      <img src="../../../../assets/images/facebook.png" (click)="onClickFacebook()" style="width: 40px;height:40px;cursor: pointer;" alt="image not found">
    </div>
  </mat-card>
</div>
